.text-center {
    text-align: center;
    color: white;
  }
  
  .bg-red {
    background: #84dc85;
    width: 633px;
    height: 490px;
    border-radius: 16px;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .m-w-20 {
    max-width: 20vw
  }